/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0b0f2a;
    color:white;
    line-height:1.6;
}

/* Botón hamburguesa */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

/* Menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    background: white;
    padding: 40px 20px;
    transition: 0.4s ease;
    z-index: 1000;
    box-shadow: 4px 0 15px rgba(0,0,0,0.3);
}

/* Mostrar menú */
.side-menu.active {
    left: 0;
}

/* Botón cerrar */
.close-btn {
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

/* Lista */
.side-menu ul {
    list-style: none;
    padding: 60px 0 0;
}

.side-menu ul li {
    margin: 20px 0;
}

.side-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: 0.3s;
}

.side-menu ul li a:hover {
    color: #007bff;
}



.hero {
    position: relative;
    height: 100vh;
    background: url("asset/fondo\ \(2\).png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* Capa oscura encima de la imagen */
.hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

/* Contenido */
.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h4 {
    letter-spacing: 4px;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 6px;
}

.hero-content p {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 3px;
}

/* Responsive */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 40px;
    }
}

/* SECCIONES GENERALES */
section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:50px;
    font-size:32px;
}

/* ===== SECCIÓN SOBRE MI ESTILO PREMIUM ===== */
.sobre-mi {
    background: linear-gradient(to right, #0f0f0f, #000000);
    color: #fff;
    padding: 80px 10%;
}

.sobre-contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.sobre-texto {
    flex: 1;
    max-width: 550px;
}

.subtitulo {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #888;
}

.sobre-texto h2 {
    font-size: 3rem;
    margin: 15px 0;
    font-weight: bold;
}

.sobre-texto p {
    margin-bottom: 20px;
    color: #bbb;
    line-height: 1.6;
}

.firma {
    font-family: cursive;
    font-size: 2rem;
    margin-top: 20px;
    color: #fff;
}

/* ===== IMAGEN ===== */
.sobre-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
}

.sobre-imagen img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    filter: brightness(80%);
    transition: 0.5s ease;
    box-shadow: 0 20px 40px rgba(99, 87, 87, 0.6);
}

/* Efecto al pasar el mouse */
.sobre-imagen img:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sobre-contenedor {
        flex-direction: column;
        text-align: center;
    }

    .sobre-texto h2 {
        font-size: 2rem;
    }
}

/* TARJETAS GENERALES */
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
}

.card{
    background:#12163a;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    transition:0.4s;
    text-align:center;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

ul{
    list-style:none;
}

ul li{
    margin-bottom:10px;
}
/* ===== HOBBIES ESTILO GALERÍA ===== */

.hobbies {
    background: #000;
    padding: 80px 10%;
    color: #fff;
}

.hobbies h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
}

.hobby-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.hobby-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: 0.5s ease;
}

/* Overlay oscuro */
.hobby-item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

/* Información */
.hobby-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 2;
}

.hobby-info span {
    font-size: 0.8rem;
    color: #aaa;
}

.hobby-info h3 {
    font-size: 1.3rem;
    margin-top: 5px;
}

/* EFECTO HOVER */
.hobby-item:hover img {
    transform: scale(1.1);
}

.hobby-item:hover::after {
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.3));
}


/* =========================
   TECNOLOGÍAS
========================= */

.tecnologias {
    padding: 80px 10%;
    background: #7494d1;
    text-align: center;
}

.tecnologias h2 {
    margin-bottom: 50px;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.tech-card {
    position: relative;
    background: #ffffff;
    padding: 40px 20px;
    transition: 0.4s ease;
    cursor: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.tech-card img {
    width: 60px;
    margin-bottom: 15px;
    transition: 0.4s ease;
}

.tech-card h3 {
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #777;
    transition: 0.4s ease;
}

/* 🔥 EFECTO HOVER */

.tech-card:hover {
    background: #0f0f0f;
}

.tech-card:hover h3 {
    color: #fff;
}

.tech-card:hover img {
    filter: brightness(0) invert(1);
}

/* Esquinas tipo L */

.tech-card::before,
.tech-card::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #d4ff00;
    opacity: 0;
    transition: 0.4s ease;
}

.tech-card::before {
    top: 10px;
    left: 10px;
    border-right: none;
    border-bottom: none;
}

.tech-card::after {
    bottom: 10px;
    right: 10px;
    border-left: none;
    border-top: none;
}

.tech-card:hover::before,
.tech-card:hover::after {
    opacity: 1;
}

/* =========================
   EDUCACIÓN ESTILO HISTORIA
========================= */

.educacion {
    background: #f2f2f2;
    padding: 80px 10%;
}

.educacion-container {
    max-width: 800px;
}

.educacion-left h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 2px solid #ccc;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
}

.timeline-arrow {
    position: absolute;
    left: -18px;
    top: 5px;
    font-size: 0.7rem;
    color: #555;
}

.timeline-date {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    color: #444;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.6;
}

.load-more {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    transition: 0.3s;
}

.load-more:hover {
    color: #000;
    border-color: #000;
}

/* ===============================
   HISTORY + SKILLS SECTION
================================ */

.history-skills {
    background: #f3f3f3;
    padding: 80px 10%;
}

.section-subtitle {
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #bbb;
    margin-bottom: 50px;
}

.container {
    display: flex;
    gap: 80px;
}

/* ================= LEFT SIDE ================= */

.history {
    flex: 1;
}

.history h2 {
    margin-bottom: 30px;
    color: #333;
}

.timeline {
    border-left: 1px solid #ccc;
    padding-left: 25px;
}

.timeline-item {
    position: relative;
    margin-bottom: 35px;
}

.arrow {
    position: absolute;
    left: -20px;
    font-size: 0.7rem;
    color: #555;
}

.date {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

.content p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.6;
}

.load-more {
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #333;
}

/* ================= RIGHT SIDE ================= */

/* CONTENEDOR TIMELINE */
.skills {
    position: relative;
    padding-left: 50px;
}

/* Línea vertical */
.skills::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 1px;
    height: 99%;
    background: #E0E6ED;
}

/* Item */
.timeline-item {
    position: relative;
    margin-bottom: 40px;
}

/* Flecha */
.timeline-item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 5px;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #E0E6ED;
}

/* Fecha */
.timeline-date {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #F1F5F9;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Texto */
.timeline-item p {
    color: #A9B4C2;
    font-size: 15px;
    line-height: 1.6;
}


/* =========================
   SECCIÓN SUEÑO
========================= */

.sueno {
    background: #0b0b0b;
    color: #fff;
    padding: 100px 10%;
}

.sueno-header {
    text-align: center;
    margin-bottom: 80px;
}

.sueno-sub {
    font-size: 0.7rem;
    letter-spacing: 4px;
    color: #888;
}

.sueno-header h2 {
    font-size: 2.5rem;
    margin-top: 10px;
}

.sueno-content {
    display: flex;
    gap: 80px;
    align-items: flex-start;
}

.sueno-left {
    min-width: 200px;
}

.sueno-left h4 {
    font-weight: 400;
    color: #ccc;
}

.linea {
    width: 120px;
    height: 2px;
    background: #fff;
    margin-top: 10px;
}

.sueno-right p {
    color: #aaa;
    line-height: 1.8;
    margin-bottom: 20px;
    max-width: 700px;
}

/* Responsive */

@media (max-width: 900px) {
    .sueno-content {
        flex-direction: column;
        gap: 40px;
    }
}

/* =========================
   CONTACTO ESTILO OSCURO
========================= */

.contacto {
    background: #000;
    color: #fff;
    padding: 100px 10%;
}

.contacto-container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

/* IZQUIERDA */

.contacto-sub {
    font-size: 0.7rem;
    letter-spacing: 3px;
    color: #777;
}

.contacto-info h2 {
    margin: 10px 0 40px;
    font-size: 2rem;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    color: #aaa;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-size: 14px;
    color: #aaa;
}

.social {
    margin-top: 30px;
}

.social span {
    margin-right: 15px;
    color: #777;
    cursor: pointer;
    transition: 0.3s;
}

.social span:hover {
    color: #fff;
}

/* DERECHA FORM */

.contacto-form {
    flex: 1;
}

.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

input,
textarea {
    background: transparent;
    border: 1px solid #222;
    padding: 15px;
    color: #fff;
    width: 100%;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
}

textarea {
    height: 180px;
    resize: none;
    margin-bottom: 25px;
}

input::placeholder,
textarea::placeholder {
    color: #555;
}

input:focus,
textarea:focus {
    border-color: #555;
}

button {
    background: transparent;
    border: 1px solid #333;
    padding: 12px 30px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #111;
    border-color: #555;
}

.contact-container {
    display: flex;
    gap: 40px;
}

.contact-form {
    flex: 1;
}

.contact-video {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 160px; 
}

.contact-video a {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,255,255,0.5);
}

.contact-video img {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.contact-video a:hover img {
    transform: scale(1.08);
}

/* Icono play */
.play-icon {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px; /* más grande */
    color: white;
    background: rgba(0,0,0,0.4);
}


/* ===============================
   ajuste colores
================================ */

@media (max-width: 900px) {
    .contacto-container {
        flex-direction: column;
    }

    .input-row {
        flex-direction: column;
    }
}

/* =========================
   FOOTER ESTILO MINIMAL
========================= */

.footer {
    width: 100%;
    padding: 20px 40px;
    text-align: right;
    font-size: 11px;
    letter-spacing: 2px;
    color: #777;
    background-color: #000;
}

.footer p {
    margin: 0;
}


/* =========================
   RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0a0f1f;
    color:#E0E6ED;
    line-height:1.6;
}


/* =========================
   SECCIONES GENERALES
========================= */

section{
    padding:80px 10%;
}

h2{
    text-align:center;
    margin-bottom:50px;
    font-size:32px;
    color:#F1F5F9;
}

/* =========================
   SOBRE MI
========================= */

.sobre-mi {
    background: linear-gradient(to right, #0a0f1f, #000000);
}

.subtitulo {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color:#A9B4C2;
}

.sobre-texto h2 {
    font-size: 3rem;
    margin: 15px 0;
    color:#F1F5F9;
}

.sobre-texto p {
    margin-bottom: 20px;
    color:#E0E6ED;
}

.firma {
    font-family: cursive;
    font-size: 2rem;
    margin-top: 20px;
    color:#F1F5F9;
}

.sobre-imagen img {
    filter: brightness(80%);
    transition: 0.5s ease;
}

.sobre-imagen img:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

/* =========================
   TECNOLOGÍAS
========================= */

.tecnologias {
    background:#161616;
    text-align:center;
}

.tech-card {
    background:#32406e;
    padding:40px 20px;
    transition:0.4s;
    box-shadow:0 5px 15px rgba(0,0,0,0.5);
}

.tech-card h3 {
    color:#A9B4C2;
    letter-spacing:2px;
}

.tech-card:hover {
    background:#002fff;
}

.tech-card:hover h3 {
    color:#F1F5F9;
}

.tech-card::before,
.tech-card::after {
    border:2px solid #fffb00;
}

/* =========================
   HISTORY + SKILLS
========================= */

.history-skills {
    background:#0a0f1f;
}

.section-subtitle {
    color:#A9B4C2;
}

.history h2,
.skills h2 {
    color:#F1F5F9;
}

.date {
    color:#E0E6ED;
}

.content p,
.skills-text {
    color:#A9B4C2;
}

.bar {
    background:#1a2238;
}

.progress {
    background:#E0E6ED;
}

/* =========================
   HOBBIES
========================= */

.hobbies {
    background:#000000;
}

.hobby-info span {
    color:#A9B4C2;
}

.hobby-info h3 {
    color:#F1F5F9;
}

/* =========================
   SUEÑO
========================= */

.sueno {
    background:#0a0f1f;
}

.sueno-sub {
    color:#A9B4C2;
}

.sueno-header h2 {
    color:#F1F5F9;
}

.sueno-left h4 {
    color:#E0E6ED;
}

.linea {
    background:#E0E6ED;
}

.sueno-right p {
    color:#A9B4C2;
}

/* =========================
   CONTACTO
========================= */

.contacto {
    background:#0a2750;
}

.contacto-sub {
    color:#e3edfa;
}

.contacto-info h2 {
    color:#F1F5F9;
}

.info-item {
    color:#E0E6ED;
}

.icon {
    border:1px solid #ffffff;
    color:#bac5d3;
}

.social span {
    color:#A9B4C2;
}

.social span:hover {
    color:#F1F5F9;
}

input,
textarea {
    border:1px solid #ffffff;
    color:#E0E6ED;
}

input::placeholder,
textarea::placeholder {
    color:#6b7a90;
}

input:focus,
textarea:focus {
    border-color:#E0E6ED;
}

button {
    border:1px solid #ffffff;
    color:#E0E6ED;
}

button:hover {
    background:#0a0f1f;
}

/* =========================
   FOOTER
========================= */

.footer {
    background:#000000;
    padding:20px 40px;
    text-align:right;
    font-size:11px;
    letter-spacing:2px;
    color:#A9B4C2;
}
